<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Koło Naukowe Fizyków UŚ</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}img/logo_knf.png">

    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/sticky-footer.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/bootstrap-override.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}css/style.css">

</head>

<body>
    <div id="wrapper">

        <div id="content">
            <nav class="navbar navbar-default" id="menu">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">
                            <img src="{{ site.url }}{{ site.baseurl }}img/knf_kirsty2.png"></img>
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cnav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="cnav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ site.url }}{{ site.baseurl }}">O nas</a></li>
                            <li><a href="{{ site.url }}{{ site.baseurl }}history/">Historia</a></li>
                            <li><a href="{{ site.url }}{{ site.baseurl }}meetings/">Spotkania</a></li>
                            <li><a href="{{ site.url }}{{ site.baseurl }}seminars/">Seminaria</a></li>
                            <li><a href="{{ site.url }}{{ site.baseurl }}workshops/">Warsztaty</a></li>
                            <li><a href="{{ site.url }}{{ site.baseurl }}events/">Wydarzenia</a></li>
                            <li><a href="{{ site.url }}{{ site.baseurl }}gallery/">Galeria</a></li>
                            <li><a href="http://okknf.smcebi.edu.pl/">OKKNF</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            {{ content }}
        </div>

        <div id="footer">
            <div class="container">
                <nav class="text-center">
                    <div class="banner"><a href="http://www.us.edu.pl/"><img src="{{ site.url }}{{ site.baseurl }}img/banners/us-banner.png" alt="Logo UŚ"></a></div>
                    <div class="banner"><a href="http://if.us.edu.pl/"><img src="{{ site.url }}{{ site.baseurl }}img/banners/if-banner.png" alt="Logo UŚ"></a></div>
                    <div class="banner"><a href="http://www.smcebi.us.edu.pl/"><img src="{{ site.url }}{{ site.baseurl }}img/banners/smcebi-banner.png" alt="Logo UŚ"></a></div>
                    <!--<div class="banner"><a href="http://www.us.edu.pl/"><img src="{{ site.url }}{{ site.baseurl }}img/banners/ss-banner.png" alt="Logo UŚ"></a></div>-->
                    <div class="banner"><a href="https://www.facebook.com/WRSS.MFiCh"><img src="{{ site.url }}{{ site.baseurl }}img/banners/ss-wmfich-banner.jpg" alt="Logo UŚ"></a></div>
                    <div class="banner"><a href="https://botland.com.pl/"><img src="{{ site.url }}{{ site.baseurl }}img/banners/botland-banner.png" alt="Logo UŚ"></a></div>
                </nav>
            </div>
            <footer class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div id="footer-text" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <p class="text-center">Copyright &#169; The Doctor |&nbsp;Live long and prosper! |&nbsp;2016 All rights reserved</p>
                        </div>

                        <nav id="social-media-buttons" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <p class="text-center">
                                Koło Naukowe Fizyków Uniwersytetu Śląskiego<br>
                                Śląskie Międzyuczelniane Centrum Edukacji i Badań Interdyscyplinarnych<br/>
                                ul. 75 Pułku Piechoty 1A, 41-500 Chorzów, p. G/0/06
                            </p>
                            <p class="text-center">
                                <a href="mailto:knf@smcebi.edu.pl?Subject=Ważne%20rzeczy" target="_top" style="display: inline-block;">
                                    <i class="fa fa-envelope-o"></i>&nbsp;knf@smcebi.edu.pl</a>
                                &nbsp;/&nbsp;<a href="https://www.facebook.com/kolonaukowefizykowUS" style="display: inline-block;">
                                    <i class="fa fa-facebook-square"></i>&nbsp;kolonaukowefizykowUS</a>
                                &nbsp;/&nbsp;<a href="mailto:admin@okknf.smcebi.edu.pl?Subject=Problem%20ze%20stroną%20KNF" target="_top" style="display: inline-block;"><i class="fa fa-wrench"></i>&nbsp;admin@okknf.smcebi.edu.pl</a>
                            </p>
                        </nav>
                    </row>
                </div>
            </footer>
        </div>
    </div>

    <script	src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ site.url }}{{ site.baseurl }}js/jscript.js"></script>

</body>

</html>
