
p {
    text-align: justify;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-toggle {
    margin-left: auto;
}

a.navbar-brand {
    height: 80px;
}

a.navbar-brand > img {
    height: 100%;
}

.navbar-default .navbar-nav > li > a {
    padding: 15px 10px;
    font-weight: 900;
    text-transform: uppercase;

}

@media (min-width: 1200px) {
    #menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.banner {
    display: inline-block;
}

.banner img {
    padding: 5px;
}

@media (min-width: 768px) {
    .banner {
        margin: 5px;
    }

    .banner img {
        max-width: 220px;
        max-height: 80px;
    }
}

@media (max-width: 767px) {
    .banner {
        margin: 1%;
        width: 45%;
    }

    .banner img {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .banner {
        width: 80%;
    }

    .banner img {
        width: 100%;
    }
}

footer {
    margin: 20px 0 0 0 !important;
    text-align: center;
    padding: 10px 0;
}

#footer-text p {
    margin-top: 10px;
}

@media (min-width: 768px) {

    footer > .container > .row {
        display: flex;
        align-items: center;
    }

    #social-media-buttons {
        border-left: medium solid #9D9D9D;
    }
}

@media (max-width: 767px) {

    #social-media-buttons {
        margin: 10px 0;
    }
}
